{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
<link href="{{url_for('static', filename='css/contact.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<section class="contact-container">
  <div class="contact-desc-box">
    <h1> Contact Us</h1>
    <p>Get In Touch With Us</p>
  </div>   

  <div class="contact-form-box">
    <form action="/send_message" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="Enter Your Name" required>
      <br><br>
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Enter Your Email" >
      <br><br>
      <textarea name="message" placeholder="Type Your Message"></textarea>
      <br><br><br>
      <button type="submit">Submit</button>
    </form>
  </div>   

</section>

{% endblock %}
