
<!-- Header.html  -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"> -->

  <link href="/static/css/header.css" rel="stylesheet">

  <title></title>


   



</head>
<body>
 <nav class="navbar">
    <div class="logo">Abaya store</div>
    <ul id ="navLinks" class="nav-links">
      <li><a href="{{url_for('home')}}"> Home</a></li>
      <li><a href="{{url_for('about')}}"> About Us</a></li>
      <li><a href="/collection"> Collection</a></li>
      <li><a href="/contact"> Contact Us</a></li>
      <li><a href="/signIn"> Sign In</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">☰</div>
 </nav>




  <script>
    function toggleMenu() {
      document.getElementById("navLinks").classList.toggle("active");
    }
  </script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script> -->